altgraph==0.17
appdirs==1.4.4
asgiref==3.3.4
auto-py-to-exe==2.6.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
click==7.1.2
DateTime==4.3
distlib==0.3.1
Django==3.2
Eel==0.10.4
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
importlib-metadata==3.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
macholib==1.14
MarkupSafe==1.1.1
pathlib==1.0.1
pefile==2019.4.18
pipenv==2020.11.15
pycparser==2.20
PyInstaller==3.4
pytz==2021.1
pywin32-ctypes==0.2.0
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
virtualenv==20.4.3
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
watchdog==2.0.2
Werkzeug==1.0.1
whichcraft==0.6.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.3.0
