<!DOCTYPE html>
<html lang="en">

<head>


</head>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Eth Scan balance</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

  <style>
    .alert {
      background: rgb(39, 90, 255);
      padding: 1rem;
      border-radius: 5px;
      color: white;
      margin: 1rem;
      background-image: url("bg.png");
    }
  </style>
</head>

<body>
  <div class="container">
    <h3>Weight Planet Calculator</h3>

  </div>

  <!-- Form -->
  <div class="container">
    <form action="/send" method="POST">
      <label for="Number One">Insert your ethereum addres</label>
      <input type="text" placeholder="your wallet" class="u-full-width" name="addres" />



      <input type="submit" value="Get Balance" class="btn btn-primary" id="calc_btn" />
      <br />
      <div class="alert">
        {{ sum }}
      </div>
    </form>

</body>

</html>